/* Estilos CSS privados de HeroDetailComponent */

label {
  color: #435960; /* Color del texto del label */
  font-weight: bold; /* Peso de la fuente del label */
}

input {
  font-size: 1em; /* Tamaño de fuente del input */
  padding: .5rem; /* Relleno del input */
}

button {
  margin-top: 20px; /* Margen superior del botón */
  background-color: #eee; /* Color de fondo del botón */
  padding: 1rem; /* Relleno del botón */
  border-radius: 4px; /* Radio de borde del botón */
  font-size: 1rem; /* Tamaño de fuente del botón */
}

button:hover {
  background-color: #cfd8dc; /* Cambio de color de fondo del botón al pasar el ratón sobre él */
}

button:disabled {
  background-color: #eee; /* Color de fondo del botón cuando está deshabilitado */
  color: #ccc; /* Color del texto del botón cuando está deshabilitado */
  cursor: auto; /* Cambia el cursor a predeterminado cuando el botón está deshabilitado */
}

.descripcion textarea {
  display: block; /* Hace que el textarea sea un bloque para ocupar todo el ancho disponible */
  width: 100%; /* Ancho del textarea al 100% */
  padding: 8px; /* Relleno del textarea */
  font-size: 16px; /* Tamaño de fuente del textarea */
  font-weight: normal; /* Peso de la fuente del textarea */
  resize: vertical; /* Permite la redimensión vertical del textarea */
  min-height: 100px; /* Altura mínima del textarea */
}
