/* Estilos CSS privados de DashboardComponent */

h2 {
  text-align: center; /* Alineación del texto al centro */
  font-weight: bold; /* Aplicar negrita al texto */
  color: rgb(255, 255, 255); /* Color del texto */
  border: 2px solid rgb(4, 4, 78); /* Borde sólido de color azul */
  background-color: rgb(4, 4, 78); /* Color de fondo dentro del borde */
}

.heroes-menu {
  padding: 0; /* Elimina el relleno */
  margin: auto; /* Centra el elemento horizontalmente */
  max-width: 1000px; /* Establece el ancho máximo */

  /* Flexbox */
  display: flex; /* Utiliza el modelo de caja flexible */
  flex-direction: row; /* Dirección de los elementos flexibles: fila */
  flex-wrap: wrap; /* Permite que los elementos flexibles se envuelvan */
  justify-content: space-around; /* Distribuye uniformemente los elementos a lo largo del contenedor */
  align-content: flex-start; /* Alinea los elementos flexibles al inicio del contenedor */
  align-items: flex-start; /* Alinea los elementos flexibles al inicio del eje transversal */
}

a {
  background-color: rgb(224, 224, 224); /* Color de fondo del enlace */
  border-radius: 2px; /* Radio de borde */
  padding: 1rem; /* Relleno */
  font-size: 1.2rem; /* Tamaño de fuente */
  text-decoration: none; /* Elimina la decoración de texto */
  display: inline-block; /* Hace que el enlace sea un bloque en línea */
  color: #1f2020fd; /* Color del texto */
  text-align: center; /* Alineación del texto al centro */
  width: 100%; /* Ancho del enlace al 100% */
  min-width: 70px; /* Ancho mínimo */
  margin: .5rem auto; /* Margen */
  box-sizing: border-box; /* Calcula el tamaño total del elemento, incluidos el relleno y el borde */

  /* Flexbox */
  order: 0; /* Orden de visualización */
  flex: 0 1 auto; /* Factor de crecimiento, contracción y base */
  align-self: auto; /* Alineación del elemento en sí */
}

@media (min-width: 600px) {
  a {
    width: 18%; /* Ancho del enlace al 18% cuando la pantalla tenga un ancho mínimo de 600px */
    box-sizing: content-box; /* Calcula el tamaño total del elemento, excluyendo el relleno y el borde */
  }
}

a:hover {
  background-color: #1668c5fd; /* Cambia el color de fondo del enlace al pasar el ratón sobre él */
}

.footer-image {
  max-width: 600px; /* Ancho máximo de la imagen */
  width: 100%; /* Ancho de la imagen al 100% */
  height: auto; /* Altura automática para mantener la relación de aspecto de la imagen */
  border-radius: 20px; /* Radio de borde para la imagen */
  overflow: hidden; /* Oculta cualquier contenido que sobresalga del radio curvado */
}

  