<h2>Top 3 Mejores Equipos</h2>
<div class="heroes-menu">
  <a *ngFor="let hero of heroes" routerLink="/detail/{{hero.id}}">
    {{hero.name}}
  </a>
</div>
<footer>
  <img src="https://www.shutterstock.com/image-photo/antalya-turkey-august-09-2021-600nw-2021681996.jpg" jsaction="VQAsE" 
  class="sFlh5c pT0Scc iPVvYb" style="max-width: 600px; width: auto; height: 150px; margin: 0px;" alt="92,828 en la categoría «Champions league logo» de fotos e ..." jsname="kn3ccd" aria-hidden="false">
</footer>
